<div class="selectActionPage">
    <div class="imgCtn">
        <img src="../../../assets/selectAction.jpg" alt="">
    </div>
    <div>
        <div class="optionsCtn">
            <ion-button routerLink="/map"><ion-icon name="map"></ion-icon></ion-button>
            <ion-button routerLink="/scan-qr"><ion-icon name="qr-scanner"></ion-icon></ion-button>
            <ion-button routerLink="/home"><ion-icon name="restaurant"></ion-icon></ion-button>
            <ion-button routerLink="/history"><ion-icon name="filing"></ion-icon></ion-button>
        </div>
    </div>
</div>
