<div class="appHeader">
    <ion-header>

        <ion-toolbar>
            <div class="headerCtn">
                <div class="nameCtn" *ngIf="!nameHide">
                    <span>{{name}}</span>
                </div>

                <div class="headerSearch" *ngIf="nameHide">
                    <ion-searchbar id="homeSearch" (input)="searchCafe($event)" (ionClear)="clearClick($event)"></ion-searchbar>
                </div>

                <div class="icons">
                    <ion-icon class="icons__item" name="search" (click)="searchClick()"></ion-icon>
                    <ion-icon class="icons__item" name="pin" (click)="locationClick()"></ion-icon>
                    <ion-icon class="icons__item" name="cart" (click)="cartClick()"></ion-icon>
                </div>
            </div>

        </ion-toolbar>

        <!--(ionChange)="selectCategory($event)"-->

        <div class="slideMenu" *ngIf="categories">
            <ion-segment
                    #segment
                    scrollable
                    (ionChange)="onSegmentChange($event)"
            >
                <ion-segment-button
                        *ngFor="let cat of categories; let i = index"
                        [value]="i"
                        [checked]="index === i"
                >
                    <ion-label>{{cat.name}}</ion-label>
                </ion-segment-button>
            </ion-segment>

        </div>

    </ion-header>
</div>


<!--<div class="appHeader">-->
  <!--<ion-header>-->

    <!--<ion-toolbar>-->
<!--&lt;!&ndash;      <ion-buttons slot="start" *ngIf="currentUrl !== previousUrl">&ndash;&gt;-->
<!--&lt;!&ndash;        <ion-back-button defaultHref="{{previousUrl}}"></ion-back-button>&ndash;&gt;-->
<!--&lt;!&ndash;      </ion-buttons>&ndash;&gt;-->
      <!--<ion-buttons slot="start">-->
       <!--<ion-back-button defaultHref="{{previousUrl}}"></ion-back-button>-->
      <!--</ion-buttons>-->
      <!--<div class="headerCtn">-->
        <!--<div class="nameCtn" *ngIf="!nameHide">-->
          <!--<span>{{name}}</span>-->
        <!--</div>-->

        <!--<div class="headerSearch" *ngIf="nameHide">-->
          <!--<ion-searchbar id="homeSearch" (input)="searchCafe($event)" (ionClear)="clearClick($event)"></ion-searchbar>-->
        <!--</div>-->

        <!--<div class="icons">-->
          <!--<ion-icon class="icons__item" name="search" (click)="searchClick()"></ion-icon>-->
          <!--<ion-icon class="icons__item" name="pin" (click)="locationClick()"></ion-icon>-->
          <!--<ion-icon  name="restaurant" (click)="cartClick()"></ion-icon>-->
        <!--</div>-->
      <!--</div>-->


    <!--</ion-toolbar>-->

    <!--<div class="slideMenu" *ngIf="categories">-->
      <!--<div class="slideMenu__item" *ngFor="let cat of categories" (click)="selectCategory(cat.id)" [ngClass]="{activeCategory: cat.id === activeCatId}">-->
        <!--<span>{{cat.name}}</span>-->
      <!--</div>-->
    <!--</div>-->

  <!--</ion-header>-->
<!--</div>-->
