@import "../../../theme/variables";

.appHeader {
  .nameCtn {
    font-family: RobotoBold, sans-serif;
  }

  .headerSearch {
    width: 65%;
    ion-searchbar {
      -webkit-padding-start: 0;
      -webkit-padding-end: 0;
      --icon-color: black;
      padding: 0;
    }
  }

  .slideMenu {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 10px;

    overflow: scroll;
    min-width: 50px;
    padding: 0 4px;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    &__item {
      border-bottom: 2px solid transparent;
      //margin-bottom: 2px;
      text-align: center;
      box-sizing: border-box;
      white-space: nowrap;
      padding: 0 12px 12px 12px;
      &:first-child {
        padding-left: 12px;
      }
    }
  }

  .activeCategory {
    border-bottom: 2px solid var(--general--color);
    transition: 0.1s;
    color: var(--general--color);
  }

  ion-button {
    width: 40px;
    height: 10%;
  }

  ion-segment-button {
    --padding-start: 12px;
    --padding-end: 12px;
    --color-checked: var(--light--general--color);
    --indicator-color-checked: var(--light--general--color);

  }
}




