<!--<ion-item class="child-item" text-wrap detail="false" lines="none">-->
  <!--<ion-row no-padding align-items-center>-->
    <!--<ion-col size="9">-->
      <!--<ion-row no-padding>-->
        <!--<ion-col size="12">-->
          <!--<h3>NAME</h3>-->
        <!--</ion-col>-->
        <!--<ion-col size="12">-->
          <!--<p text-lowercase color="medium"> PRODUCT INFO</p>-->
        <!--</ion-col>-->
      <!--</ion-row>-->
    <!--</ion-col>-->
    <!--<ion-col size="3" text-right>-->
      <!--<ion-button fill="outline" (click)="buyItem('product')">222</ion-button>-->
    <!--</ion-col>-->
  <!--</ion-row>-->
<!--</ion-item>-->


<ion-content>
  <!--<ion-list *ngFor="let item of info; let i = index" class="accordion-list" lines="none" detail="false" no-padding>-->
    <!--<ion-item tappable (click)="toggleSection(i)" >-->
      <!--<ion-label>-->
        <!--{{item.name}}-->
      <!--</ion-label>-->
    <!--</ion-item>-->
  <!--</ion-list>-->
</ion-content>