.child-item {
  --ion-item-background: #f3f2f1;
  --padding-start: 8px;
  --inner-padding-end: 8px;
  margin-bottom: 2px;
}

//.dishItem {
//  margin-bottom: 15px;
//  &__image {
//    display: flex;
//    justify-content: center;
//    img {
//      max-height: 180px;
//      width: auto;
//    }
//
//  }
//
//
//
//  .orderButton {
//    margin: 0 auto;
//    width: 90%;
//
//    ion-button {
//      --border-width: 1px;
//      --border-radius: 10px;
//      --background: #ededed;
//    }
//  }
//}
//
//
