
<div class="wrapper" (click)="navCafe(cafe)">
  <div class="line"></div>
  <div class="cafeItem">
    <!--routerLink="/menu"-->

    <div class="cafeLogo"  >
      <img [src]="cafe.logo" alt="Cafe Logotype">
    </div>
    <div class="cafeData">
      <div class="cafeData__item">
        <span class="cafeData__item--name robotoMeduimClass20">{{cafe.name}}</span>
      </div>
      <div class="cafeData__item">
        <!--<span class="cafeData__item&#45;&#45;staticText robotoRegGrey16">Адреса: </span>-->
        <span class="cafeData__item--address robotoRegGrey16">{{cafe.address}}</span>
      </div>
      <div class="cafeData__item">
        <!--<span class="cafeData__item&#45;&#45;staticText">Номер телефону: </span>-->
        <span class="cafeData__item--telephone">{{cafe.phone}}</span>
      </div>

    </div>

  </div>
</div>
